<hr/>

<h3>Comments</h3>
<div class="comment-main">
  <%= render 'comments/form', post: post%>
  <div class="col-sm-12 comment-list" id="comments">
    <%= render post.comments%>
  </div><!-- /.comment-list -->
</div><!-- /.comment-main -->



<br/>