<div class="jumbotron">
  <div class="container">
    <h1>All about <%= @tag.name%></h1>
    <p></p>
    <p>Comming ...</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">Back to Home »</a></p>
  </div>
</div>